/*
  style.css
  Feel free to change any of this CSS for your own purposes but don't waste time!
*/

/* Using font-size: larger to make things pop. Feel free to change. */
body {
    background-color:#e4f7de;
    margin: 20px;
    font-size: larger;
    color: #738c6a;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* Make the font a bit bigger on buttons and input boxes */
button, input {
    font-size: large;
}

button:hover {
    color:#738c6a;
    background-color:#f1fbed;
    font-size: 1.01em;
    transition-duration: 0.5s;
    transition-property: color, background-color, font-size;
}

input:hover{
    color:#e4f7de;
    background-color:#738c6a;
    font-size: 1.01em;
    transition-duration: 0.5s;
    transition-property: color, background-color, font-size;
}

/* Align the geometry shapes with the title a little better */
.heading_img {
    vertical-align: auto;
}

.button_style {
    border-style:solid;
    border-color: #607558;
    color: #e4f7de;
    background-color: #738c6a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Rounding and Quadratics input number boxes. Add class="short_number" to your input boxes */
.input_box_style {
    width: 50px;
    background-color: #f1fbed;
    color: #738c6a;
    border-style: solid;
    border-color: #607558;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr {
    margin-bottom:30px;
    margin-top: 30px;
    border-color: #a8ca9b;
}

.output{
    margin: 20px;
}